.add-category {
  border: 1px solid rgb(233, 232, 232);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  display: grid;
  place-items: center;
  height: 500px;
}
.add-category:hover {
    background-color: aliceblue;
}